section
    div
        img.ability__type(src="assets/img/leaf.png", alt="Type plante")
        img.ability__type(src="assets/img/leaf.png", alt="Type plante")
    div
        p
            h2.ability__title Vampigraine
            | À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.
        