section.ability
    .ability__type--container
        img.ability__type(src="assets/img/leaf.png", alt="Type plante")
        img.ability__type(src="assets/img/leaf.png", alt="Type plante")
    h2.ability__description Vampigraine
    h3.ability__damage 20