<figure class='apparance'>
  <img class='apparance__illustration' src='../assets/img/bulbizarre.jpg' alt='bulbizarre'>
  <figcaption class='apparance__description'>Pokémon Graine. Taille : 0,7m, poids 6,9kg.</figcaption>
</figure>