<section class="appearence">
  <img class="appearence__pokemon" src="../src/assets/img/bulbizarre.jpg" alt="Pokémon Bulbizarre"/>
  <p class="appearence__infos">Pokémon Graine. Taille : 0,7m, poids / 6,9kg</p>
</section>