<figure class="appearance">
  <img class="appearance__illustration" src="assets/img/bulbizarre.jpg" alt="Pokemon_bublbizarre"/>
  <figcaption class="appearance__caracteristics">Pokémon Graine. Taille: 0,7m, poinds: 6,9kg</figcaption>
</figure>