<section class="appearance">
  <img src="assets/img/bulbizarre.jpg" alt="Bulbizarre" class="appearance__image">
  <div>
    <p class="appearance__description">Pokémon Graine. Taille: 0,7 m, poids: 6,9 kg</p>
  </div>
</section>