<section class="apperance">
  <div>
    <img class="apperance__pokemon" src="src/../assets/img/bulbizarre.jpg" alt="bulbizarre"/>
  </div>
  <div>
    <p class="apperance__description">pokemon graine. Taille :0,70m, poids: 6,9kg
    </p>
  </div>
</section>