<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="appearence">
    <img class="appearence__image" src="assets/img/bulbizarre.jpg">
    <p class="appearence__details"> Pokémon Graine. Taille: 0.7, poids: 6.9 kg</p>
  </div> 
</body>
</html>