<article class ="attack">
  <figure class ="attack__type">
    <img src ="assets/img/leaf.png" class ="attack__type" alt ="Type pokémon">
    <img src ="assets/img/leaf.png" class ="attack__type" alt ="Type pokémon">
  </figure>
  <p class="attack__effect"> <strong>Vampigraine</strong> À moins que tous les dégats infligés par cette attaque ne soient prévenus,
  vous pouvez retirer 1 marqueur de dégâts de Bulbizarre</p>
  <p class ="attack__power"> 20 <p>
  </article>