<article class ="attack">
  <figure class ="attack__type">
    <img src ="assets/img/leaf.png" class ="attack__types" alt ="Type pokémon">
    <img src ="assets/img/leaf.png" class ="attack__types" alt ="Type pokémon">
  </figure>
  <p class="attack__effect"> <strong>Vampigraine</strong> À moins que <br/>
  tous tous les dégats infligés par cette<br/>
  attaque attaque ne soient prévenus, vous<br/>
  pouvez pouvez retirer 1 marqueur de dégâts<br/> 
  de de Bulbizarre</p>
  <p class ="attack__power"> 20 <p>
  </article>