.attack
    .attack__type
        img(class="attack__type--type1" alt="Type plante" src="assets/img/leaf.png")
        img(class="attack__type--type2" alt="Type plante" src="assets/img/leaf.png") 
    .attack__infos
        p.attack__infos--name Vampigraine
        p.attack__infos--description À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre
    .attack__damage
        p 20