<section class="attacks">
<aside class="attacks__type">
<img src="assets/img/leaf.png" class="attacks__img" />
<img src="assets/img/leaf.png" class="attacks__img" />
</aside>
<p class="info">
<em>Vampigraine</em> A moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer un marqueur de dégats de Bulbizarre.
<p/>
<aside class="damage">20</aside>
</section>