
<article class="attack">
<div class="attack__leaf">
  <img src="assets/img/leaf.png" alt="Type plante">
  <img src="assets/img/leaf.png" alt="Type plante">
</div>
    <p class="attack__info">
      <strong>Vampigraine</strong> A moins que tous les dégats infligés par cette attaque ne soient prévenus,
      vous pouvez retirer un marqueur d dégats de Bullbizarre.</p>
    <p class="attack__damage">20</p>
</article>