<article class="attack">
<img class="boubleleaf"src="assets/img/leaf.png" alt="Type plante">
<img class="boubleleaf"src="assets/img/leaf.png" alt="Type plante">
<p class="attackinfo">
<span>Vampigraine</span>A moins que tous les dégats infligés par cette attaque ne soient prévenus,
vous pouvez retirer un marqueur d dégats de Bullbizarre.
</p>
<p class="attackdamage">20</p>
</article>