<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gotta Catch Them All !
    body
div.attack
      p.attack__pokemon--type 
        img(src="assets/img/leaf.png")
          alt=("pokemon de type plante")
        
    
      h2.attack__name Vampigraine
      p.attack__description À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.
      p.attack__description--damages 20
