<article>
  <ul class ="attack">
  <li class ="attack__doubleleaf"> <img src="assets/img/leaf.png" alt="Type plante"> <img src="assets/img/leaf.png" alt="Type plante"></li>
  <li class="attack__infos"><strong>Vampigraine</strong> À moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer un marqueur d dégats de Bullbizarre.</p> </li>
  <li class="attack__dammage"> 20</li>
  </ul>
</article>