<section class="attack">
  <div class="attack_type">
    <img src="assets/img/leaf.png" alt="type leaf" class="attack_img" />
    <img src="assets/img/leaf.png" alt="type leaf" class="attack_img" />
  </div>
  <p class="attack__details">
    <em>Vampigraine</em> A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
  <p class="attack__damage">20</p>
</section>