<div class="attack">
    <img src="assets/img/leaf.png" alt="leaf" />
    <img src="assets/img/leaf.png" alt="leaf" />
    <p> A moins que tout les dégats infligés par cette attaque ne soine prévenus, vous pouvez retirer I marqueur de dégats de Bulbizarre.
    </p>
    <p>20</p>
</div>