.attack 
  .attack__cost
    img(src="../assets/images/leaf.png" alt="feuille")
    img(src="../assets/images/leaf.png" alt="feuille")
  .attack__description  
    p 
      b Vampigraine 
      | À moins que tous les dêgats infligés par cette attaque ne soient 
      |prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.

  .attack__damage 20