<div class="attack">
  <div class="attack__type">
    <img src="assets/img/leaf.png" alt="Type Plante" />
    <img src="assets/img/leaf.png" alt="Type Plante" />
  </div>
  <div class =" attack__description">
    <h1 class="attack__text">Vampigraine</h1>
    <p class = "attack__text--misc">A moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégats de Bulbizarre . </p>
  </div>
  <p class ="attack__damage"> 20 </p>
</div>