<article class="attack">
  <img class="attack__type" src="assets/img/leaf.png" alt="Type plante"/>
  <img class="attack__type" src="assets/img/leaf.png" alt="Type plante" />
  <p class="attack__description">Vampigraine À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
  <p class="attack__degats">20</p>
</article>