<div>
  <img src="/assets/img/leaf.png" class="attack__type" alt="Type attaque"/>

  <img src="/assets/img/leaf.png" class="attack__types" alt="Type attaque"/>

  <p class="description__attack">
    <strong>Vampigraine</strong> A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.
  </p>
  <p class="level__attack">
    <strong>20</strong>
  </p>
</div> 