<section class="attack">
    <div class="attack__type">
        <img src="assets/img/leaf.png" alt="leaf_type" />
        <img src="assets/img/leaf.png" alt="leaf__type" />
    </div>
    
    <p class="attack__description"><strong>Vampigraine</strong> À moins que tous les dégâts infligés par cette attaque ne soient prévenus vous pouvez retirer 1 marqueur de dégâts de Bulbizarre </p>
    <h2 class="attack__effect">20</h2>
    
</section>