<section class="attacks">
<aside class="attacks__cost">
    <img class="attacks__img" src="assets/img/leaf.png" alt="Pokemon de type plante">
    <img class="attacks__img" src="assets/img/leaf.png" alt="Pokemon de type plante">
</aside>
<p class="attacks__desc">
    <em>Vampigraine</em> À moins que tous les dégâts infligés par cette attaque ne soient prévenus,
    vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.
</p>
<aside class="attacks__damage"></aside>
<p class="power">20</p>
</section>