<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gotta Catch Them All ! 
    body
div.body
    div.body__pokemon--image
        img(src"assets/img/bulbizarre.jpg")
        alt=("il s'agit du pokémon Bulbizarre")
    p.body__pokemon--alt Pokémon Graine. Taille:0,7 m, poids: 6,9 kg
    
    