<section class="capacity">
  <div class="border"></div>

  <div class="contenair">
    <div class="contenair__wraper">
      <p class="capacity__types">Faiblesse</p>
      <img class="capacity__logo" src="assets/img/fire.png" alt="Feu"/>
    </div>

    <div class="contenair__wraper">
      <p class="capacity__types">Résistance</p>
    </div>

    <div class="contenair__wraper">
      <p class="capacity__types">Coût de retraite</p>
      <img class="capacity__logo" src="assets/img/normal.png" alt="Étoile"/>
    </div>
  </div>

</section>