<section class="capacity">
  <div>
    <p class="capacity__types">Faiblesse</p>
    <img class="capacity__logo" src="../src/assets/img/fire.png" alt="Feu"/>
  </div>

  <div>
    <p class="capacity__types">Résistance</p>
  </div>

  <div>
    <p class="capacity__types">Coût de retraite</p>
    <img class="capacity__logo" src="../src/assets/img/normal.png" alt="Étoile"/>
  </div>
</section>