.card__first
  .card__first--img-title
    img(src='./assets/img/leaf.png' alt='')
    img(src='./assets/img/leaf.png' alt='')
  .card__first--title
    span Vampigraine 
    | &agrave; moins que tous les d&eacute;gats inflig&eacute;s par cette attaque ne soient pr&eacute;venus, vous pouvez retirer 1 marqueur de d&eacute;gats de Bulbizarre
  .card__first--number 20