.card__block
  .card__block--title
    p Pok&eacute;mon de base<br> <span>Bulbizarre</span>
    p
      span 40 PV 
      img(src='./assets/img/leaf.png' alt='')
  .card__block--img-title
    img(src='./assets/img/bulbizarre.jpg' alt='')
  .card__block--features Pokemon Graine. Taille : 0,7m, poids: 6,9 kg