<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <div class="character">
      <img src="assets/img/bulbizarre.jpg" class="character__visual" alt="pokémon plante mignon"/>
      <div class="character__specs">
        <p>Pokémon Graine. Taille : 0,7m, poids: 6,9 kg</p>
        <img src="assets/img/leaf.png" alt="symbole de type plante" />
        <img src="assets/img/leaf.png" alt="symbole de type plante" />
        <p>
          Vampigraine A moins que tous les dégats infligés par cette attaque ne
          soient prévenus vous pouvez retirer 1 marqueur de dégats de Bulbizarre
        </p>
      </div>
    </div>
  </body>