
//- <div class="character">
//-   <p class = "character__weakness">Faiblesse</p>
//-   <p class = "character__resistance">Résistance</p>
//-   <p class = "character__retreat">Coût de retraite</p>
//- </div>
div.character 
  p.character__weakness Faiblesse
  p.character__resistance Résistance
  p.character__retreat Coût de retraite
