<section class="content">
    <div class="content__types">
      <img src="assets/img/leaf.png" alt="type feuille" />
      <img src="assets/img/leaf.png" alt="type feuille" />
    </div>
    <p class="content__description"><strong>Vampigraine</strong> A moins que tous les degats infliges par cette attaque ne soient prevenus, vous pouvez retirer 1 marqueur dedegats de Bulbizarre.</p>
    <h2 class="content__power">20</h2>
</section>