<!DOCTYPE html>
<html>
  <body>
    <div class = "principal">
      <div class = "container">
          <img class="container__leaf" src="assets/img/leaf.png" />
          <img class="container__leaf" src="assets/img/leaf.png" />
      </div> 
      <div class = "containermore">   
          <p class="containermore__info">Vampigraine A moins que tous les degats infliges par cette attaque ne soient prevenus, vous pouvez retirer 1 marqueur de <br> degats de Bulbizarre.</p>
      </div> 
      <div class = "final">   
          <p class="final__info">20</p>
      </div> 
  </div>    
</body>
</html>