<article class='descriptions'>
  <div class="descriptions__types">
    <figure class="type">
      <figcaption>Faiblesse</figcaption>
      <img src="../assets/img/fire.png" alt="fire" />
    </figure>
    <span class="type">Résistance</span>
    <figure class="type">
      <figcaption>Coût de retraite</figcaption>
      <img src="../assets/img/normal.png" alt="fire" />
    </figure>
  </div>
  <div class="descriptions__pokedex">Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV.13 No.I</div>
</article>  