<div class = "navfirst">
    <div class = "nav">
        <p class = nav_info> Pokemon de base </p>
        <p class = nav_poke> Bulbizarre </p>
    </div> 
    <div class = "navmore">
        <p class = "navmore_info"> 40 PV </p>
        <img class ="navmore_img" src = "assets/img/leaf.png">
    </div>    
</div>