<section class="footer">
      <section class="footer__relations">
        <div class="footer__weakness">
          <p class="footer__weakness__title">Faiblesse</p>
          <img class="footer__weakness__img" src="/assets/img/fire.png"/>
        </div>
        <div class="footer__resistance">
          <p class="footer__resistance__title">Résistance</p>
        </div>
        <div class="footer__retreat">
          <p class="footer__retreat__title">Coût de retraite</p>
          <img class="footer__retreat__img" src="/assets/img/normal.png" />
        </div>
      </section>
      <section class="footer__bio">Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV. 13 No. 1
      </section>
</section>