<footer>
  <div class ="stats">
    <div class ="stats__weakness">
      <p>Faiblesse</p>
      <img src="assets/img/fire.png" class ="weakness__type">
    </div>
    <div class ="stats__resistance">
      <p> Résistance</p>
      <img src="assets/img/fire.png" class ="resistance__blank">
    </div>
    <div class ="stats__sacrifice">
      <p>Coût de retraite</p>
      <img src="assets/img/normal.png">
    </div>
  </div>
  <p class ="fact">Il a une étrange graine plantée sur ton dos. Elle grandit avec lui depuis la naissance. NIV.13 No.1</p>
</footer>