<footer>
<section class="stats">
<div class="statsothers">
<p class="statsname">Faiblesse</p>
<img src="assets/img/fire.png" alt="Type feu">
</div>

<div class="statsothers">
<p class="statsname">Résistance</p>
</div>

<div class="statsothers">
<p class="statsname">Coût de retraite</p>
<img src="assets/img/normal.png" alt="étoile">
</div>
</section>
<p class="info_bullbizarre">
Il a une étrange graine sur son dos. Elle grandis avec lui depuis la naissance.  NIV 13  No. 1
</p>
</footer>