<footer>
  <div class ="stats">
    <p>Faiblesse</p>
    <img src="assets/img/fire.png" class ="stats__weakness">
    <p> Résistance</p>
    <p>Coût de retraite</p>
    <img src="assets/img/normal.png" class ="stats__sacrifice">
  </div>
  <p class ="infos">Il a une étrange graine plantée sur ton dos. Elle grandit
  avec lui depuis la naissance. NIV.13 No.1</p>
</footer>