<!DOCTYPE html>
<html>
  <body>
    <div class = "mainfooter">
        <div class = "footer">
          <p class ="footer__description"> Faiblesse </p>
          <img class="footer__fire" src="assets/img/fire.png" />
        </div>
        <div class = "mid">
          <p class = "mid__bonus"> Resistance </p>
        </div>
        <div class = "footerfinal">
          <p class = "footer__text"> Cout de retraite </p>
          <img class="footer__normal" src="assets/img/normal.png" />
        </div>  
    </div> 
    <div class = "footermore">   
        <p class="footermore__info">Il a une etrange graine plantee sur son dos. Elle <br> grandit avec lui depuis la naissance. NIV. 13 No.1 </p>
    </div> 
</body>
</html>