<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="")
        title Gotta Catch Them All !
    body
div.footer
      div.footer__specs
        span.footer__specs--weakness Faiblesse
        span.footer__specs--resistance Résistance
        span.footer__specs--retreat Coût de retraite

    span.footer__specs--weakness--image
        img(src="assets/img/fire.png" alt="attaque de type feu")
    
      span.footer__specs--resistance--image
      span.footer--specs--retreat--image
        img(src="assets/img/normal.png" alt="coût de retraite de type normal")
      
      div.footer__history Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis sa naissance. NIV. 13 No.
        
      