<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="identity">
      <div class="identity__name">
        <h1>Bulbizarre</h1>
        <p>40 PV <img src="../src/assets/img/leaf.png" /></p>
      </div>
      <p>Pokémon de base</p>
    </header>