<header class ="identity">
  <p class ="identity__rarity">Pokémon de base</p>
  <h1 class ="identity__name">Bulbizarre</h1>
  <p>40 PV <img src="assets/img/leaf.png" class ="identity__type" alt="Type plante"></p>
</header>