<header class="pokemon">
        <div class="pokemon__titles">
            <h3 class="pokemon__rarity">Pokémon de base</h3>
            <h1 class="pokemon__name">Bulbizarre</h1>
        </div>
        <div class="pokemon__description">
            <p class="pokemon__hp"> 40 pv <img src="assets/img/leaf.png" class="pokemon__type" alt="leaf_type"/> </p>
        </div>
</header>