<header class="header">
    <section class="header__info">
    <div class="header__info__left">
        <p class="header__info__left__type">Pokémon de base</p>
        <h1 class="header__info__left__name">Bulbizarre</h1>
    </div>
        <h2 class="header__info__right__health">40 PV</h2>
        <img class="header__info__right__element" src="/assets/img/leaf.png" />
    </section>
    <figure class="header__pokemon">
    <img class="header__pokemon__picture" src="/assets/img/bulbizarre.jpg" />
    <figcaption class="header__pokemon__stats">Pokémon Graine. Taille : 0,7m, poids : 6,9kg
    </figcaption>
    </figure>
</header>