<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gotta Catch Them All ! 
    body
div.header
      p.header__pokemon--rarity Pokémon de base
      h1.header__pokemon--name Bulbizarre
      p.header__pokemon--pvamount 40 PV 
      img.header__pokemon--type(src="assets/img/leaf.png" alt="pokémon de type plante")
        
         