<div class="pokeHeader">
    <div>
        <h2 class="pokeHeader__rarity">Pokémon de base</h2>
        <h1 class="pokeHeader__name">Bulbizarre</h1>
    </div>
    <h2 class="pokeHeader__hp">40 PV<img src="../src/assets/img/leaf.png" alt="leaf" /></h2>
</div>