<header class="id">
  <div class="id__titles">
    <h3 class="id__subtitle">Pokemon de base</h3>
    <h1 class="id__title">Bulbizarre</h1>
  </div>
  <div class="id__description">
    <h2 class="id__hp">40 PV</h2>
    <img src="assets/img/leaf.png" alt="pokemon de type feuille" />
  </div>
</header>