<header class="id">
    <section class="id__name">
        <p class="id__rareness">Pokemon de base</p>
        <p class="id__name">Bulbizarre</p>
    </section>

    <section class="id__lifeType">
        <p class="id__life">40 PV
            <img class="id__type" src="assets/img/leaf.png" alt="Pokemon de type plante">
        </p>
    </section>
</header>