    <header class="id">
      <div class="id__pokemon">
        <p class="id__rareness">Pokémon de base</p>
        <h1 class="id__name">Bulbizarre</h1>
      </div>
      <div class="id__pv">
        <p class="pv__number">40 PV</p>
        <img class="id__type" src="assets/img/leaf.png" alt="leaf pv" />
      </div>
    </header>