<header class="identity">
<div>
<p class="identity__grade">Pokémon de base</p>
<h1 class="identity__name">Bullbizarre</h1>
</div>
<div>
<p class="identity__pv">40 PV</p>
<img class="identity__type"src="assets/img/leaf.png" alt="Type plante">
</div>
<img class="Bullbizarre_img" src="assets/img/bulbizarre.jpg" alt="bulbizarre">
</header>