<header class="identity">
  <div class="identity__container">
    <p class="identity__grade">Pokémon de base</p>
    <h1 class="identity__name">Bulbizarre</h1>
  </div>
  <div class="identity__pv">
    <p class="identity__life">40 PV</p>
    <img class="identity__type" src="assets/img/leaf.png" alt="Type plante"/>
  </div>
</header>