<header class="identity">
  <p class="identity__evolution">Pokémon de base</p>
  <div class="identity__nameHp">
  <h1 class="identity__name">Bulbizarre</h1>
  <p class="identity__hp">40 PV<img src="assets/img/leaf.png" alt="Plante" /></p>
  </div>
  </header>