header.identity
    .identity__grade
        p.identity__grade--type Pokémon de base
        h1.identity__grade--name Bulbizarre
    .identity__life
        p.identity__life--pv 40 PV
        img(class="identity__life--type" alt="Type plante" src="assets/img/leaf.png") 
