<header class="identity">
  <div>
    <p class="identity__evolution">pokemon de base</p>
    <h1 class="identity__name">Bulbizarre</h1>
  </div>
  <div class="identity__health">
    <span class="idnetity__life">40 PV</span>
    <img class="identity__type" src="assets/img/leaf.png" alt="Type plante"/>
  </div>
</header>