<div class="identity">
  <p class="identity__type">Pokémon de base</p>
  <div class="identity pokemon">
    <p class="pokemon__name">Bulbizarre</p>
    <div class="pokemon__points">
     <p class="pokemon__pv">40 PV</p>
      <div class="pokemon__logo">
        <img alt="logo feuille verte" src="assets/img/leaf.png" />
      </div>
    </div>
  </div>
</div>