<div class="identity">
  <p class="identity__type">Pokémon de base</p>
  <div class="identity__content">
    <h1 class="identity__name">Bulbizarre</h1>
    <div class="identity__pv pv">
      <span class="pv__number">40 PV</span>
      <img src="../assets/img/leaf.png" alt="Feuille" />
    </div>
  </div>
</div>