<header class="identity">
  <div>
     <p class="identity__evolution">Pokémon de base</p>
     <h1 class="identity__name">Bulbizarre</h1>
  </div>
    <div>
      <p class="identity__life">40PV</p>
      <img class="identity__type" src="assets/img/leaf.png" alt="type_plante"/>
    </div>
</header>