<header class="identity">
<div>
<p class="identitygrade">Pokémon de base</p>
<h1 class="identityname">Bullbizarre</h1>
</div>
<div>
<p class="identitypv">40 PV</p>
<img class="identitytype"src="assets/img/leaf.png" alt="Type plante">
</div>
<img class="Bullbizarre_img" src="assets/img/bulbizarre.jpg" alt="bulbizarre">
</header>