<header class="identity">
  <p class="identity__evolution">Pokémon de base</p>
  <h1 class="identity__name">Bulbizarre</h1>
  <p class="identity__hp">40 PV<img class="identity__type" src="assets/img/leaf.png" alt="Plante" /></p>
  </header>