<section class="card__identity">
	<div>
		<p class="identity__evolution">Pokemon de base</p>
		<h1 class="identity__name">Bulbizaree</h1>
	</div>
	<div>
		<figure>
			<figcaption class="identity__life">40pv</figcaption>
			<img src="./assets/img/leaf.png" alt="" />
		</figure>
	</div>
</section>
