<header>
  <section class="card__identity">
    <div>
      <p class="identity__evolution">Pokémon de base</p>
      <h1 class="identity__name">Bulbizarre</h1>
    </div>
    <div>
      <figure>
        <figcaption class="identity__life">40 PV</figcaption>
        <img class="identity__type" src="assets/img/leaf.png" alt="Type plante">
      </figure>
    </div>
  </section>  
</header>