<header class="identity">
  <h4 class="identity__evolution">Pokémon de base</h4>
  <div class="identity__nameLifeType">
  <h1 class="identity__name">Bulbizarre</h1>
  <p class="identity__life">40 PV
    <img class="identity__type" src="assets/img/leaf.png" alt="plante" />
  </p>
  </div>
</header>