<header class="identity">
    <section class="identity__left">

        <p class="identity__evolution">Pokémon de base</p>
        <p class="identity__name">Bulbizarre</p>
    </section>
    <section class="identity__right"> 
        <p class="identity__life"> 40 PV</p>
        <img class="identity_type "src="assets/img/leaf.png" alt="Type plante"> 
    </section>

</header>