<header class="identity">
    <p class="identity__evolution">Pokémon de base</p>
    <p class="identity__name">Bulbizarre</p>
    <p class="identity__life"> 40 PV</p>
    <img class="identitytype "src="assets/img/leaf.png" alt="Type plante"> 
</header>