<section class="info">
  <div class="info__weakness">
    <h3>Faiblesse</h3>
    <img src="assets/img/fire.png" alt="type feu" />
  </div>
  <div class="info__resist">
    <h3>Resistance</h3>
  </div>
  <div class="info__cost">
    <h3>Cout de retraite</h3>
    <img src="assets/img/normal.png" alt="type normal" />
  </div>
</section>