<div class="info">
    <div class="card__weak">
        <p>Faiblesse</p>
        <img src="/assets/img/fire.png" alt="fire" />
    </div>
    <div class="card__resistance">
        <p>Resistance</p>
    </div>
    <div class="retirement">
        <p>Coût de retraite</p>
        <img src="/assets/img/normal.png" alt="normal" />
    </div>
</div>
