<!DOCTYPE html>
<html>
  <body>
    <div class = "injustify">
      <div class = "justify">
        <img class="justify__img" src="assets/img/bulbizarre.jpg" />
        </div>
        <p class="justify__info">Pokemon Graine. Taille: 0,7m , poids: 6,9kg</p>
    </div>
</body>
</html>