<main class="main">
      <div class="main__elements">
        <img class="main__elements__img" src="/assets/img/leaf.png" />
        <img class="main__elements__img" src="/assets/img/leaf.png" />
      </div>
      <p class="main__attack">
        <strong class="main__attack__name">Vampigraine</strong> A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.
      </p>
      <h3 class="main__damage">20</h3>
</main>