.pokemon
    img .pokemon__img (alt="Image de Bulbizarre" src="assets/img/bulbizarre.jpg")
        .pokemon__details
            p .pokemon__details--infos" Pokémon Graine. Taille: 0,7 m, poids: 6,9 kg
