<section class="pokemon">
      <img
        src="assets/img/bulbizarre.jpg"
        alt="bulbizarre"
        class="pokemon__image"
      />
      <p class="pokemon__details">
        Pokémon Graine. Taille: 0,7m, poids: 6.9kg
      </p>
    </section>
