<section class="card__skills">
  <div class="skills__leaf">
    <img src="assets/img/leaf.png" alt="Type plante">
    <img src="assets/img/leaf.png" alt="Type plante">
  </div>
  <div>
    <p class="skills__description"><em>Vampigraine</em> À moins que tous les dégats infligés par cette attaque soient prévenus, vous pouvez retirer 1 marqueur de dégats de Bulbizarre.
    </p>
  </div>
  <div>
    <p class="skills__attack">20</h1>
  </div>
</section>