<section class="skill">
  <div class="skill__cost">
    <img class="skill__logo" src="assets/img/leaf.png" alt="Type plante">
    <img class="skill__logo" src="assets/img/leaf.png" alt="Type plante">
  </div>
  <p class="skill__attack"><span>Vampigraine </span>À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
  <p class="skill__damages">20</p>
</section>