<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="skill">
    <div class="skill__element">
      <img src="assets/img/leaf.png">
      <img src="assets/img/leaf.png">
    </div>
    <p class="skill__details">Vampigraine À moins que <br> tous les dégâts infligés par cette <br> attaque ne soient prévenus, vous <br> pouves retirer 1 marqueur de <br> dégâts de Bulbizzare.</p>
    <p class="skill__attackPoint"><b>20</b></p>
  </div>
</body>
</html>