.skill
    .skill__less
        p.skill__less--name Faiblesse
        img(class="skill__less--type" alt="Type feu" src="assets/img/fire.png")
        p.skill__protect--name Résistance
    .skill__critick
        p.skill__critick--name Coût de retraite
        img(class="skill__critick--type" alt="Type normal" src="assets/img/normal.png") 
