<section class="skill">
  <div>
    <img class="skill__type" src="src/../assets/img/leaf.png" alt="type plante"/>
    <img class="skill__type" src="src/../assets/img/leaf.png" alt="type plante" />
  </div>
  <p class="skill__attack">vanmpigraine a moins que tout les degats infliges par cette attaque nesoient prevenues, vous pouvez retirer 1 marqueur de degats de bulbizarre
  </p>
  <p class="skill__damage">20</p>
</section>