<div class="skills">
  <div class="skills__type">
    <img alt="logo feuille verte" src="assets/img/leaf.png" />
    <img alt="logo feuille verte" src="assets/img/leaf.png" />
  </div>
  <div class="skills__attack"> Vampigraine À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre </div>
  <div class="skills__points">20</div>
</div>
