<section class="skill">
    <img class="skill__leaf" src="assets/img/leaf.png" alt="feuille">
    <img class="skill__leaf" src="assets/img/leaf.png" alt="feuille">
    <p class="skill_text"> <strong> Vampigraine </strong> À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
    <p class="skill_point">20</p>
</section>
