<div class="skill">
<div class="skill__image">
  <img class="skill__type" src="assets/img/leaf.png" alt= Plante>
  <img class="skill__type" src="assets/img/leaf.png" alt= Plante>
</div>  
  <p class="skill__description"> <span>Vampigraine</span> À moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégats de Bulbizarre.</p>
  <p>20</p>
</div>