<main class="skill">
  <div>
    <img class="skill__type" src="assets/img/leaf.png" alt="type_plant" />
    <img class="skill__type" src="assets/img/leaf.png" alt="type_plant" />
  </div>
    <p class="skill__attack"><span>Vampigraine</span>A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégât de Bulbizarre.</p>
    <p class="skill__damage">20</p>
</main>