<section class="skill">
    <section class="skill__photo">
        <img class="skill__leaf" src="assets/img/leaf.png">
        <img class="skill__leaf2" src="assets/img/leaf.png">
    </section>
    <section class="skill__text">
            <p class="skill__line"> Vampigraine À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
    </section>
    <section class="skill__point">
            <p class="skill__twenty">20</p>
    </section>
</section>