<div class="skill">
  <h2 class="skill__name">Vampigraine</h2>
  <img class="skill_type" src="assets/img/leaf.png" alt= Plante>
  <p class="skill_description">À moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégats de Bulbizarre.</p>
