<section class="skill">
        <img class="skill__leaf" src="assets/img/leaf.png">
        <img class="skill__leaf2" src="assets/img/leaf.png">
            <p class="skill__text"> Vampigraine À moins que tous les dégâts 
            infligés par cette attaque ne soient prévenus, 
            vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
            <p>20</p>
            </section>