<div class="skill">
        <div class="skill__less">
            <p class="skill__less--name">Faiblesse</p>
            <img class="skill__less--type" alt="Type feu" src="assets/img/fire.png"/>
        </div>
        <div class="skill__protect">
            <p class="skill__protect--name">Résistance</p>
        </div>
        <div class="skill__critick">
            <p class="skill__critick--name">Coût de retraite</p>
            <img class="skill__critick--type" alt="Type normal" src="assets/img/normal.png"/>
        </div>
</div>