<article class="details">
        <div class="details__influence">
          <p class="details__name">Faiblesse</p>
          <img src="assets/img/fire.png" alt="type feu" class="details__img" />
        </div>
        <div class="details__influence">
          <p class="details__name">Résistance</p>
        </div>
        <div class="details__influence">
          <p class="details__name">Coûts de Retraite</p>
          <img src="assets/img/normal.png" alt="type normal" class="details__img" />
        </div>
</article>