<section class="skill">
  <div>
    <img class="skill__leaf" src="assets/img/leaf.png" alt="Type plante"/>
    <img class="skill__leaf" src="assets/img/leaf.png" alt="Type plante"/>
  </div>
  <div>
    <p class="skill__info"> Vampigraine à moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre</p>
  </div>
  <div>
    <h1 class="skill__attack">20</h1>
  </div>
</section>