<section class="card__skills">
	<div>
		<img src="./assets/img/leaf.png" alt="" />
		<img src="./assets/img/leaf.png" alt="" />
	</div>

	<div>
		<p class="skills__description">
			Vampigraine A moins que tous les degats infliges par cette attaque ne
			soient prevenus, vouspouvez retirer 1 marquer de degats de bulbizarre.
		</p>
	</div>
	<div>
		<h1 class="skills__atack">20</h1>
	</div>
</section>