<article class="skill">
  <div class="skill__type">
    <img src="assets/img/leaf.png" alt="feuille" /> 
    <img src="assets/img/leaf.png" alt="feuille" />
  </div>
  <p class="skill__description"> <strong>Vampigraine</strong> A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer I marqueur de dégâts de Bulbizarre</p>
  <h2>20</h2>
</article>
