<section class="skills">
  <div class="skills__leaves">
    <img class="skills__type" src="assets/img/leaf.png" alt="plante" />
    <img class="skills__type" src="assets/img/leaf.png" alt="plante" />
  </div>
  <p class="skills__description">
    <span>Vampigraine</span> A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer I marqueur de dégâts de Bulbizarre.
  </p>
  <p class="skills__damage">20</p>
</section>