<article class="skills">
  <img src="../assets/img/leaf.png" alt="Feuille" />
  <img src="../assets/img/leaf.png" alt="Feuille" />
  <span class="skills__description"><strong class="text__strong">Vampigraine</strong> A moins que tous les dégats infligés par cette attaque ne soient préveznus, vous pouvez retirer I marqueur de dégâts de Bulbizarre.</span>
  <span class="skills__damages">20</span>
</article>  