.spell
  .spell__imgs
    img(src='./assets/img/leaf.png' alt='type')
    img(src='./assets/img/leaf.png' alt='type')
  .spell__info
    p
      em Vampigraine
      |  A moins que tous les d&eacute;gats inflig&eacute;s par cette
      |           attaque ne soient pr&eacute;venus, vous pouvez retirer 1 marqueur de d&eacute;gats
      |           Bulizarre
  .spell__dammage 20
