<div class="pokeSpell">
    <img src="assets/img/leaf.png" alt="leaf" />
    <img src="assets/img/leaf.png" alt="leaf"/>
    <p class="pokeSpell__description"><span class="first-word">Vampigraine</span> À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
    <h2 class="pokeSpell__damage">20</h2>
</div>