<section class="spell">
    <div class="spell__type">
        <img src="assets/img/leaf.png" alt="leaf_type" />
        <img src="assets/img/leaf.png" alt="leaf__type" />
    </div>

    <p class="spell__description"><strong>Vampigraine</strong> À moins que tous les dégâts infligés par cette attaque ne soient prévenus vous pouvez retirer 1 marqueur de dégâts de Bulbizarre </p>
    <h2 class="spell__effect">20</h2>

</section>