.stats
  div
    p.stats__title Faiblesse
    .stats__img--box
      img.stats__img(alt='feu' src='./assets//img/fire.png')
  div
    p.stats__title R&eacute;sistance
  div
    p.stats__title Co&ucirc;t de retraite
    .stats__img--box
      img.stats__img(alt='normal' src='./assets//img/normal.png')