<footer>
<section class="stats">
<div class="weakness">
  <article class="stats__weakness">
<p class="stats__name">Faiblesse</p>
<img src="assets/img/fire.png" alt="fire" class="stats__type" />
</article>
<article class="stats__weakness">
<p class="stats__name">Résistance</p>
</article>
<article class="stats__weakness">
<p class="stats__name">Coût de retraite</p>
<img src="assets/img/normal.png" alt="fire" class="stats__type" />
</article>
</div>
<article class="stats__details">
<p class="details__text"> Il y une étrange graine plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV 13 No.1</p>
</article>
</section>
</footer>