<div class="stats">
  <p class="stats__weakness">Faiblesse<img class="stats__type" src="assets/img/fire.png" alt="Faiblesse feu" /></p>
  <p class="stats__resistance">Resistance</p>
  <p class="stats__retirement">Coût de retraite <img class="stats__star" src="assets/img/normal.png" alt="Etoile" /></p>
</div>
<div>
  <p class="details">Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV. 13 No. 1</p>
</div>