<section class="stats">
    <div class="stats__weakness"> 
        <p class="stats__text"> Faiblesse </p>
        <img src="assets/img/fire.png" alt="fire__type" class="stats__type" /> 
    </div>
        <div class="stats__resistant"> 
        <p class="stats__text">Résistance</p>
    </div>
    <div class="stats__retreat"> 
        <p class="stats__text"> Coût de retraite</p> 
        <img src="assets/img/normal.png" alt="normal__type" class="stats__type" /> 
    </div>
</section>