.stats
  div
    p.stats__title Faiblesse
    img.stats__img(alt='feu' src='./assets//img/fire.png')
  div
    p.stats__title Resistance
    img.stats__img(alt='' src='./assets//img/fire.png')
  div
    p.stats__title Co&ucirc;t de retraite
    img.stats__img(alt='normal' src='./assets//img/normal.png')