<section class="stats">
    <aside class="stats__weakness">
        <p>Faiblesse</p>
        <img src="assets/img/fire.png" alt="Faiblesse au type feu">
        
    </aside>

    <aside class="stats__resistance">
        <p>Résistance</p>
    </aside>

    <aside class="stats__retreat">
        <p>Coût de retraite</p>
        <img src="assets/img/normal.png" alt="Coût de retraite normal">
    </aside>
</section>