.stats

  .stats__description
    p Faiblesse
    img(src="../assets/images/fire.png" alt="feu")
    
  .stats__description
    p Résistance

  .stats__description
    p Coût de retraite
    img(src="../assets/images/normal.png" alt="normal")