<section class="types">
  <div class="types__column">
    <p>Faiblesse</p>
    <img src="assets/img/fire.png" />
  </div>
  <p>Résistance</p>
  <div class="types__column">
    <p>Coût de retraite</p>
    <img src="assets/img/normal.png" />
  </div>
</section>