<section class="type">
    <section class="type__one">
        <p class="type__faib">Faiblesse</p>
        <img class="type__fire" src="assets/img/fire.png">
    </section>
        
    <section class="type__two">
        <p class="type__resi">Résistance</p>
    </section>  

    <section class="type__three">   
        <p class="type__cout">Coût de retraite</p>
        <img class="type__normal" src="assets/img/normal.png">
    </section>
        
</section>