<section class="type">
    <p>Faiblesse</p>
    <p>Résistance</p>
    <p>Coût de retraite</p>
    <img class="type__fire" src="assets/img/fire.png" alt="element feu">
    <img class="type__normal" src="assets/img/normal.png" alt="element etoile">
</section>