<section class="card__types types">
  <div>
    <p class="types__weakness">Faiblesse</p>
    <img class="types__fire" src="assets/img/fire.png" alt="" />
  </div>
  <div>
    <p class="types__resistance">Résistance</p>
  </div>
  <div>
    <p class="types__retirement">Coût de retraite</p>
    <img class="types__normal" src="assets/img/normal.png" alt="" />
  </div>
</section>