<div class="types">
<div class="types__weakness">
  <p>Faiblesse</p>
  <img class="types__weaknessimg" src="assets/img/fire.png" alt="Feu">
</div>
  <p>Résistance</p>
<div class="types__weakness">  
  <p>Coût de retraite</p>
  <img class="types__withdrawalimg" src="assets/img/normal.png" alt= Normal>
</div>  
</div>