<section class="types">
      <div class="types__attribut">
            <p class="types__name">Faiblesse</p>
            <img class="types__feu" src="./assets/img/fire.png" alt="attribut feu"/>
      </div>
      <div class="types__attribut">
            <p class="types__name">Résistance</p>
      </div>
      <div class="types__attribut">
            <p class="types__name">Coût de retraite</p>
            <img class="types__normal" src="./assets/img/normal.png" alt="attribut normal"/>
      </div>
</section>


