<section class="types">
  <div class="types__type">
    <p class="type__name">faiblesse</p>
    <img class="type__logo" src="src/../assets/img/fire.png" alt="type feu"/>
  </div>
  <div class="types__type">
    <p class="type__name">resistance</p>
  </div>
  <div class="types__type">
    <p class="type__name">cout de retraite</p>
    <img class="type__logo" src="src/../assets/img/normal.png" alt="type normal"/>
  </div>
</section>