<div class="types">
  <figure class="type">
    <figcaption>Faiblesse</figcaption>
    <img alt="Logo rouge flamme" src="assets/img/fire.png" />
  </figure>
  <span class="type">Résistance</span>
  <figure class="type">
    <figcaption>Coût de retraite</figcaption>
    <img alt="Logo gris étoiles" src="assets/img/normal.png" />
  </figure>
</div>