<section class="type">
    <section class="type__un">
        <p>Faiblesse</p>
        <img class="type__fire" src="assets/img/fire.png" alt="element feu">
    </section>
    <section class="type__deux">
        <p>Résistance</p>
    </section>
    <section class="type__trois">

        <p>Coût de retraite</p>
    
        <img class="type__normal" src="assets/img/normal.png" alt="element etoile">
    </section>
</section>