<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="type">
    <div class="type__weakness">
      <p>Faiblesse</p>
      <img src="assets/img/fire.png" alt="feu">
    </div>
    <div class="type__resistance">
      <p><b>Résistance</b></p>
    </div>
    <div class="type__retreatCost">
      <p><b>Coût de retraite</b></p>
      <img src="assets/img/normal.png" alt="normal">
    </div>
  </div>
</body>
</html>