<section class="card__types">
  <div>
    <h1 class="types__weakness">Faiblesse</h1>
    <img class="types__fire" src="assets/img/fire.png" alt="">
  </div>
  <div>
    <h1 class="types__resistance">Résistance</h1>
  </div>
  <div>
    <h1 class="types__retirement">Coût de retraite</h1>
    <img class="types__normal" src="assets/img/normal.png" alt="">
  </div>
</section>