<div class="types">
  <div class="types__type">
    <h3>Faiblesse</h3>
    <img src="../src/assets/img/fire.png" alt="type feu" />
  </div>
  <h3 class="types__type">Résistance</h3>
  <div class="types__type">
    <h3>Coût de retraite</h3>
    <img src="../src/assets/img/normal.png" alt="type normal" />
  </div>
</div>