ul.types
    li.type
        h3.type__title Faiblesse
        img(src="assets/img/fire.png", alt="Type feu")
    li.type
        h3.type__title Résistance
    li.type
        h3.type__title Coût de retraite
        img(src="assets/img/normal.png", alt="Type feu")