<div class="types">
  <p>Faiblesse</p>
  <img class="types__weaknessimg" src="assets/img/fire.png" alt="Feu">
  <p>Résistance</p>
  <p>Coût de retraite</p>
  <img class="types__withdrawalimg" src="assets/img/normal.png" alt= Normal>
</div>