<section class="types">
  <div class="types__type type">
    <p class="type__name">Faiblesse</p>
    <img class="type__logo" src="assets/img/fire.png" alt="Logo Faiblesse">
  </div>
  <div class="types__type type">
    <p class="type__name">Résistance</p>
  </div>
  <div class="types__type type">
    <p class="type__name">Coût de retraite</p>
    <img class="type__logo" src="assets/img/normal.png" alt="Logo Faiblesse">
  </div>
</section>