<section class="types">
  <div class="types__type">
    <p>Faiblesses</p>
    <img src="assets/img/fire.png" alt="type_feu" />
  </div>
  <div class="types__type">
    <p>Résistance</p>
  </div>
  <div class="types__type">
    <p>Côut de retraite</p>
    <img src="assets/img/normal.png" />
  </div>
</section>