      <div>
        <p class="pokemon__weakness">
          <strong>Faiblesse</strong>
        </p>
        <img src="/assets/img/fire.png" class="logo__fire" alt="Type feu"/>
      </div>

      <div>
        <p class="pokemon__resistance">
          <strong>Résistance</strong>
        </p>
      </div>

      <div>
        <p class="pokemon__retirement">
          <strong>Coût de retraite</strong>
        </p>
        <img src="/assets/img/normal.png" class="logo__normal" alt="Type normal"/>
      </div>