* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #1d1d1d;
  font-family: sans-serif;
  background-color: #9acd32;
  border: 10px solid;
  border-image-source: $gradient;
  border-image-slice: 1;
  // margin: 20px;
}
