.pokemon {
  display: flex;
  flex-direction: column;
}

.pokemon__img {
  margin-left: 13px;
  margin-right: 13px;
  border: 5px solid;
  border-image-source: $gradient;
  border-image-slice: 1;
}

.pokemon__info {
  font-size: 13px;
  text-align: center;
  background: $gradient;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 3px;
}
