.details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 13px;
  border-top: 1.5px solid black;

  &__influence {
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__img {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 5px;
  }
}
