@import "./reset.scss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "GillSans";
  border: 10px solid;
  border-image-source: linear-gradient(45deg, #e4c829, #c0ab40);
  border-image-slice: 1;
  background-color: #9acd33;
  display: flex;
  flex-direction: column;
}

.identity {
  margin: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__evolution {
    font-size: 10px;
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
  }

  &__life {
    align-self: flex-end;
    font-size: 20px;
    color: red;
  }
}

.presentation {
  margin: 0px 15px;

  &__image {
    border: 10px solid;
    border-image-source: linear-gradient(45deg, #e4c829, #c0ab40);
    border-image-slice: 1;
  }

  &__description {
    font-size: 12px;
    text-align: center;
    background-color: #c0ab40;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0px 10px;
    padding: 5px 0px;
  }
}

.powers {
  margin: 6px;
  .power {
    display: flex;
    align-items: center;

    &__type {
      margin: 2px;
    }

    &__description {
      margin: 2px;
      font-size: 14px;

      &--title {
        font-weight: bold;
      }
    }

    &__intensity {
      font-size: 30px;
      margin: 8px;
    }
  }
}

.hability {
  display: flex;
  justify-content: space-between;

  &__type {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;

    &--intensity {
      align-self: center;
    }
  }
}

.description {
  font-size: 10px;
  font-weight: bolder;
  font-style: italic;
  border: 3px solid #c0ab40;
  margin: 3px;
  padding: 3px;
}
