header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px 5px 0;
}

.identity__type {
  font-size: 10px;

  @include landscape {
    margin-top: 10px;
  }
}

.identity__name {
  font-weight: bold;
  font-size: 20px;
}

.life__pokemon {
  color: red;
  font-size: 20px;
}