.info {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  padding: 4px 0;

  &__weakness,
  &__cost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__resist {
    margin: 0 40px;
  }
}
