* {
  box-sizing: border-box;
  font-size: 13px;
}
html {
  background-color: yellow;
  margin: 0;
}
body {
  background-color: green;
}
img {
  max-width: 100%;
}
.identity {
  display: flex;
  justify-content: space-between;
}
.identity__grade {
  font-size: 12px;
}
.identity__life {
  color: red;
  font-size: 20px;
}
.card__info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.card__more {
  padding: 10px;
  border: solid 3px yellow;
  p {
    font-size: 13px;
  }
}
