.img {
  display: flex;
  margin-left: var(--primary-margin);
  margin-right: var(--primary-margin);
  margin-bottom: 20px;
  border: solid var(--secondary-color) 5px;
  img {
    min-width: 100%;
  }
  @include landscape {
    margin-top: 20px;
  }
}
