.appearance {
  @include landscape {
    display: flex;
    flex-direction: column;
  }

  &__image {
    border: 6px solid;
    border-image: linear-gradient(35.11deg, #fbea4f -23.25%, #7a752e 133.76%);
    border-image-slice: 1;
    margin: 3px 0 0 0;
  }

  div {
    background: linear-gradient(35.11deg, #fbea4f -23.25%, #7a752e 133.76%);
    margin: 0 5%;
    padding: 3px;

    @include landscape {
      // margin: 0;
      // padding: 3px;
      display: none;
    }
  }

  &__description {
    font-style: italic;
    font-size: 10px;
    text-align: center;

    &--landscape {
      display: none;
    }
  }

  @include landscape {
    &__description {
      &--landscape {
        display: block;
        font-style: italic;
        font-size: 10px;
        text-align: center;
        background: linear-gradient(35.11deg, #fbea4f -23.25%, #7a752e 133.76%);
        margin-top: 2px;
        padding: 3px;
      }
    }
  }
}
