.pokedex {
  border: 2px solid;
  border-image: linear-gradient(35.11deg, #fbea4f -23.25%, #7a752e 133.76%) 1;
  margin: 1% 3% 1% 3%;



  &__description {
    font-style: italic;
    font-size: 10px;
    text-align: center;
  }

}