.types {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  font-size: 11px;
  font-weight: 700;

  &__type {
    text-align: center;
  }

  .type__name {
    margin-top: 3px;
  }
}
