.identity {
  @include flex;
  padding: 0 20px;

  &__name {
    font-size: 40px;
    font-weight: bold;
  }

  &__life {
    font-size: 32px;
    color: red;
    align-self: flex-end;
  }

  &__type {
    align-items: flex-end;
  }

  @include landscape{
    flex-shrink: 1;
  
  }
}