@import 'reset.css';
@import 'header.scss';
@import 'footer.scss';
@import 'attack.scss';
@import 'image.scss';
@import 'stat.scss';
@import 'characteristics.scss';

:root {
  --gradient: linear-gradient(
    90deg,
    rgba(255, 237, 0, 1) 0%,
    rgb(119, 115, 30) 100%
  );
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

img {
  max-width: 100%;
}

body {
  background-color: yellowgreen;
  border: 12px solid;
  border-image: var(--gradient) 12;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana;
}
