<div class="attacks">
  <img src="assets/img/leaf.png" alt="leaf">
  <img src="assets/img/leaf.png" alt="leaf">
  <p> Vampigraine A moins que tout les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
</div>
<hr>