<header class="identity">
  <div>
    <p class="identity__grade"> Pokémon de base</p>
    <h1 class="identity__name"> Bulbizarre </h1>
  </div>
  <div class="identity__hptype">
    <p class="identity__hp"> 40 PV <img src="assets/img/leaf.png" alt="leaf" class="identity__type"></img></p>
  </div>
</header>