.info
  .info__leaf
    img(src='../src/assets/img/leaf.png' alt=' Type plante')
    img(src='../src/assets/img/leaf.png' alt=' Type plante')
  p.info__attack
    em Vampigraine
    |  &Agrave; moins que tous les d&eacute;gats inflig&eacute;s
    |           par cette attaque ne soient pr&eacute;venus,
    |           vous pouvez retirer 1 marqueur de d&eacute;gats
    |           de Bulbizarre
  h2  20