<div class="stats">
  <h2 class="stats__weak"> Faiblesse <img src="assets/img/fire.png" alt="fire"></img></h2>
  <h2> Résistance </h2>
  <h2 class="stats__leave"> Coût de retraite <img src="assets/img/normal.png" alt="normal"></img> </h2>
</div>