.stats
  .stats__text
    p  Faiblesse
    p R&eacute;sistance
    p  Co&ucirc;t de retraite
  .stats__icons
    img(src='../src/assets/img/fire.png' alt='Faiblesse feu')
    img(src='../src/assets/img/normal.png' alt='Coût normal')
