<div class="stats">
  <p class="stats__weak"> Faiblesse <img src="assets/img/fire.png" alt="fire"></img></p>
  <p> Résistance </p>
  <p class="stats__leave"> Coût de retraite <img src="assets/img/normal.png" alt="normal"></img> </p>
</div>