<div class="types">
<section class="types__weakness">
<p>Faiblesse</p>
<img src="/assets/img/fire.png" alt="feu">
</section>
<section class="types__restitance">
<p>Résistance</p>
</section>
<section class="types__cost">
<p>Coût de retraite</p>
<img src="/assets/img/normal.png" alt="normal">
</section>
</div>