<header class=identity>
<p class="identity__evolution">Pokémon de base</p>
<h1 class="identity__name">Bulbizarre</h1>
<p class="identity__life">40PV</p>
<img class="identity__type" src="/src/assets/img/leaf.png" alt="plante">
</header>