<div class="skill">
<img class="skill__elem" src="/src/assets/img/leaf.png" alt="plante">
<img class="skill__elem" src="/src/assets/img/leaf.png" alt="plante">
<p class="skill__attack">Vampigraine A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégats de Bulbizzarre. </p>
<p class="skill__dammage">20</p>
</div>