<section class="footer">
   <div class="footer__power">
      <div>
         <p>Faiblesse</p>
         <img src="assets/img/fire.png" alt="" />
      </div>
      <div>
         <p>Résistance</p>
      </div>
      <div>
         <p>Cout de retraite</p>
         <img src="assets/img/normal.png" alt="" />
      </div>
   </div>
   <div class="border__buttom">
      <p class="footer__level"> Il a une étrange graine planté sur son dos.Elle grandit avec lui   depuis la naissance. NIV No.1
      </p>
   </div>
</section>

