<section class="property">
  <div class="property__image">
  <img src="assets/img/leaf.png" />
  <img src="assets/img/leaf.png" />
  </div>

  <p class="property__text">
  <b>Vampigraine</b> À moins que tous les dégats infligés par cette
          attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégats Bulbizarre.
  </p>
  <p class="proprety__number">20</p>
</section>