body {
  border: 12px solid goldenrod;
  padding: 1%;
  background-color: #a5ca50;
}

header {
  padding-left: 4%;
  padding-right: 4%;
}

.identity__type {
  font-size: 12px;
}

.pokemon {
  display: flex;
  justify-content: space-between;
}

.pokemon__name {
  font-weight: bold;
  font-size: 20px;
}

.pokemon__points {
  display: flex;
  align-items: flex-end;
}

.pokemon__pv {
  color: red;
  letter-spacing: 2px;
}
