.skills {
  display: flex;
  justify-content: space-between;
  margin-top: 24%;
  margin-bottom: 24%;
  padding-left: 2%;
  padding-right: 2%;
}

.skills__type {
  display: flex;
  align-items: center;
}

.skills__attack {
  max-width: 70%;
  font-size: 14px;
}

strong {
  font-weight: bold;
  font-size: 20px;
}

.skills__points {
  display: flex;
  align-items: center;
  font-size: 30px;
}
