
body{
  border: 10px solid ;
  border-image: linear-gradient(-90deg, #486921, #eefa04)10;
  background-color: yellowgreen;
}

.imageLegend__Bulbizare{
  border-image: linear-gradient(-90deg, #486921, #eefa04)10;
}