<div class="attack">
      <img class="attack__type" src="/assets/img/leaf.png" alt="leaf" />
      <img class="attack__type" src="/assets/img/leaf.png" alt="leaf" />
      <p class="attack__description">Vampigraine À moins que tous les dégats infligés par cette attaque ne soient prévenus , vous pouvez retirer 1 marqueur de dégats de Bulbizarre.
      </p>
</div>