<div class="attack">
      <div class="attack__type">
            <img class="attack__type--plante" src="/assets/img/leaf.png" alt="leaf" />
            <img class="attack__type-plante" src="/assets/img/leaf.png" alt="leaf" />
      </div>
            <div class="attack__description">
                  <p class="attack__description--text"><em class="attack__description--vampigraine">Vampigraine</em> À moins<br>que tous les dégats infligés<br>par cette attaque ne soient<br>prévenus , vous pouvez<br>retirer 1 marqueur de<br>dégats de Bulbizarre.
                  </p>
            </div>
                  <div class="attack__points">
                        <p class="attack__points--number">20</p>
                  </div>
</div>