<section class="card__identity">
    <p class="card__base">Pokemon de base</p>
    <div class="identity__title">
    <h2>Bulbizarre</h2>
    <figcaption class="identity__info">40 PV<img src="assets/img/leaf.png" />
    </figcaption>
    </div>
        <img class="identity__preview" src="assets/img/bulbizarre.jpg" />
    <div class="identity__description"> Pokémon Graine. Taille: 0.7m, poids: 6.9kg
    </div>
</section>