<section class="card__information">
    <img class="information__type" src="assets/img/leaf.png" />
    <img class="information__type" src="assets/img/leaf.png" />
    <p class="information__power"> <strong>Vampigraine</strong> à moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégats de Bulbizarre.
    </p>
    <p class="information__dommage">20</p>
</section>