<section class="card__types">
    <div class="types__title">
        <p>Faiblesse</p>
        <p>Résistance</p>
        <p>Cout de retraite</p>
    </div>
    <div class="types__element">
        <img src="assets/img/fire.png" alt="TypeFeu" />
        <div></div>
        <img src="assets/img/normal.png" alt="TypeNormal" />
    </div>
          
</section>