<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class = "container">
        <img class="container__leaf" src="assets/img/leaf.png" />
        <img class="container__leaf" src="assets/img/leaf.png" />
    </div> 
    <div class = "containermore">   
        <p class="containermore__info">Vampigraine <strong> </p> <p> A moins que tous les degats infliges par cette attaque ne soient prevenus, vous pouvez retirer 1 marqueur de degats de Bulbizarre.</p>
    </div> 
    <div class = "final">   
        <p class="final__info">20</p>
    </div> 
</body>
</html>