<div class="description">
      <img src="/assets/img/bulbizarre.jpg" alt="Pokémon bulbizarre" class="description__image"/>
      <p class="description__text">Pokémon graine. Taille: 0,7, poids: 6,9kg</p>
</div>