<header class="identity">
      <p class="identity__grade">Pokemon de base</p>
      <h1 class="identity__name">Bulbizarre</h1>
      <div class="identity__option">
        <p class="identity__life">40 PV</p>
        <img class="identity__type" src="/assets/img/leaf.png" alt="Type plante"/>
      </div>
</header>