<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    link(rel="stylesheet", href="./assets/scss/styles.scss")
    <title>Carte Bulbizarre</title>
  </head>
  <body>
    <header>
      include includes/appearance.pug
    </header>
    <main>
      include includes/attack.pug
      include includes/footer.pug
    </main>
  </body>
</html>
