<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carte Bulbizarre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.scss">
  </head>

  <body>
    include includes/identity.pug
    include includes/illustration.pug
    include includes/attack.pug
    include includes/character.pug
    include includes/character__resist.pug
    include includes/character__description.pug
  </body>
</html>
