<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <header class="identity">
      <div>
        <p class="identity__grade">pokémon de base</p>
        <h1 class="identity__name">Bulbizarre</h1>
      </div>
      <p class="identity__life">40 PV</p>
      <img class="identity__type" src="assets/img/leaf.png" alt="image de bulbizarre"/>
    </header>
    <div class="picture">
      <img src="assets/img/bulbizarre.jpg" alt="image de bulbizarre" />
      <h3>pokémon Graine, taille : 0,7m, poids : 6,9 kg</h3>
    </div>
    <div class="attack">
      <img class="identity__type" src="assets/img/leaf.png" alt="image type plante"/>
      <img class="identity__type" src="assets/img/leaf.png" alt="image type plante" />
      <p class="attack__description">
        Vampigraine À moins que tous les dégats infligé par cette attaque ne
        soient prévenus vous pouvez retirez 1 marqueur de dégats de bulbizarre
      </p>
      <h1 class="attack__power">20</h1>
      <div class="spec">
        <div class="spec__faiblaisse">
          <p>faiblesse</p>
          <img class="identity__type" src="assets/img/fire.png" alt="image type feu"/>
        </div>
      </div>
      <div class="spec__resistance">
        <p classe="spec__resistance--text">résistance</p>
      </div>
      <div class="spec__coup">
        <p class="spec__coup--text">coup de retraite</p>
        <img class="spec__coup--image" src="assets/img/normal.png" alt="image de type normal"/>
      </div>
      <div class="details">
        <p class="details__text">
          Il a une étrange graine plentée sur son dos. Elle grandit avec lui
          depuis la naissance. NIV 13 NO I
        </p>
      </div>
    </div>
  </body>
</html>
