<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="index.scss" rel="stylesheet" />
    <title>Pokémon</title>
  </head>
  <body>
    <header class="header">
      <div>
        <p class="header__base">Pokémon de base</p>
        <h1 class="header__name">Bulbizarre</h1>
      </div>
      <div>
        <p class="header__PV">40 PV</p>
        <img class="header__type" src="assets/img/leaf.png" alt="Type Plante" />
      </div>
    </header>

    <section class="apparence">
      <img src="assets/img/bulbizarre.jpg" alt="Le Pokémon" />
    </section>

    <section class="description">
      <div>
        <p class="description__fisrst">Pokémon Graine. Taille: 0,7m, poids: 6,9kg.</p>
        <p class= "description__second" src="assets/img/leaf.png" alt="Type Plante"> </p>
      </div>

      <div>
        <img class="description__type" src="assets/img/leaf.png"  alt="Type Plante"/>
        <img class="description__type" src="assets/img/leaf.png"  alt="Type Plante"/>
        
        <p  class="description__text">Vampigraine A moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer | marquer de dégats de Bulbizarre.</p>
      
        <p class="description__number">20</p>
      </div>
    </section>
    

    <section class="footer">
      <hr class="footer__ligne" />
    </section>
  </body>
</html>
