
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="scss/styles.scss" />
</head>
<body>
  include includes/identity.pug
  include includes/appearance.pug
  include includes/skill.pug
  include includes/types.pug
  include includes/pokedex.pug
</body>
</html>