<!DOCTYPE html>
html(lang="en")
    head
       
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    link(rel='stylesheet' href='../src/assets/scss/styles.scss')

    body
     include assets/includes/head.pug
     include assets/includes/card_img.pug
     include assets/includes/info.pug
     include assets/includes/stats.pug
     include assets/includes/footer.pug