doctype html
html
  head
    include includes/head.pug
    style
      include scss/styles.scss

  body
    include includes/pokemon.pug
    include includes/picture.pug
    include includes/attack.pug 
    include includes/stats.pug
    include includes/pokedex.pug