<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokémon</title>
    link(rel="stylesheet", href="../style.scss")
    link(rel="stylesheet", href="../reset.scss")
  </head>
  <body class="card">
    include includes/header.pug
        include includes/image.pug
        include includes/attack.pug
        <hr />
        include includes/info.pug
        include includes/footer.pug

  </body>
</html>
