<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.scss" rel="stylesheet">
    <title>Pokemon</title>
</head>
<body>
  include includes/header.pug
  include includes/figure.pug
  include includes/article.pug
  <hr color = "black">
  include includes/footer.pug
</body>
</html>