<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.scss">
    <title>Document</title>
  </head>
  <body>
   <div class="landscape">
    include includes/identity.pug
    include includes/appearance.pug
    </div>
    <div>
      include includes/skills.pug
      include includes/types.pug
      include includes/pokedex.pug
    </div>
  </body>
</html>
