<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.scss">
    <link rel="shortcut icon" type="image/png" href="/assets/img/leaf.png"/>
    <title>POKEMON</title>
  </head>
  <body>
  <section class="card">
    include /identity.pug
    include /description.pug
    include /attack.pug
    include /stats.pug
    </section>
  </body>
</html>

