<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TPFLEX</title>
    link(rel="stylesheet", href="styles.scss")
  </head>
 
  <body>
    include includes/header.pug
    include includes/spell.pug
    include includes/card.pug 
    include includes/stats.pug
    
  </body>
</html>
