<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gotta Catch Them All !
  body
  include includes/attack.pug
  include includes/body.pug
  include includes/footer.pug 
  include includes/header.pug 