<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="index.scss" rel="stylesheet" />
    <title>Pokémon</title>
  </head>
  <body>
  <div class="tout">
  <div class="tout1">
    <header class="header">
      <div class="header1">
        <p class="header__base">Pokémon de base</p>
        <h1 class="header__name">Bulbizarre</h1>
      </div>
      <div class="header2">
        <p class="header__PV">40 PV</p>
        <img class="header__type" src="assets/img/leaf.png" alt="Type Plante" />
      </div>
    </header>
 
    <section class="apparence">
      <img class="apparence__img"src="assets/img/bulbizarre.jpg" alt="Le Pokémon" />
    </section>

    <section class="description">
      <div class="description__all">
        <p class="description__fisrst">Pokémon Graine. Taille: 0,7m, poids: 6,9kg.</p>
        <p class= "description__second" src="assets/img/leaf.png" alt="Type Plante"> </p>
      </div>
      </div>


      <div class="tout2">
      <div class="description__all2">
      <div class="description__all2--symbol">
    
        <img class="description__type" src="assets/img/leaf.png"  alt="Type Plante"/>
        <img class="description__type" src="assets/img/leaf.png"  alt="Type Plante"/>
      
        </div>
        <p  class="description__text"><b>Vampigraine</b> A moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer | marquer de dégats de Bulbizarre.</p>
      
        <p class="description__number">20</p>
      </div>
    </section>
    
    <section class="footer">
    <hr class="footer__ligne">  </hr>
      <div class="capacité">
      <p class="footer__faible">Faiblesse</p>
      <p class="footer__resi">Résistance</p>
      <p class="footer__cout">Cout de retraite</p>
      </div>
      <div class="icon">
      <img src="assets/img/normal.png">
      <img src="assets/img/fire.png">
      </div>

      <div class="textfin">
      <p class="textfin__text">Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV. 13  No.1</p>
      </div>

    </section>
    </div>
    </div>
  </body>
</html>
