<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="styles/styles.scss" />
    <title>Carte Pokémon</title>
  </head>
  <body>
    <header>
      include includes/identity.pug
      include includes/appearance.pug 
    </header>
    <main>
      include includes/skills.pug 
      include includes/type.pug 
      include includes/pokedex.pug 
    </main>
  </body>
</html>
