<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.scss">
    <title>Document</title>
</head>

<body>

  include includes/id.pug
  include includes/pokemon.pug
  include includes/attacks.pug
  include includes/stats.pug
  include includes/details.pug

</body>

</html>






    //- <header class="id">
    //-     <section class="id__name">
    //-         <p class="id__rareness">Pokemon de base</p>
    //-         <p class="id__name">Bulbizarre</p>
    //-     </section>

    //-     <section class="id__lifeType">
    //-         <p class="id__life">40 PV
    //-             <img class="id__type" src="assets/img/leaf.png" alt="Pokemon de type plante">
    //-         </p>
    //-     </section>
    //-     </header>

    //-     <section class="pokemon">
    //-         <img class="pokemon__name" src="assets/img/bulbizarre.jpg" alt="Bulbizarre">
    //-         <p class="pokemon__details">Pokemon Graine. Taille: 0.7 m, poids: 6.9kg</p>
    //-     </section>

    //-     <section class="attacks">
    //-         <aside class="attacks__cost">
    //-             <img class="attacks__img" src="assets/img/leaf.png" alt="Pokemon de type plante">
    //-             <img class="attacks__img" src="assets/img/leaf.png" alt="Pokemon de type plante">
    //-         </aside>

    //-         <p class="attacks__desc">
    //-             <em>Vampigraine</em> À moins que tous les dégâts infligés par cette attaque ne soient prévenus,
    //-             vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.
    //-         </p>

    //-         <aside class="attacks__damage"></aside>
    //-         <p class="power">20</p>
    //-     </section>

    //-    in

    //-     <footer class="details">
    //-         <p>
    //-             Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV 13 No. 1
    //-         </p>
    //-     </footer>



