doctype html
html

    include includes/head.pug

    body

        include includes/identity.pug

        include includes/picture.pug

        include includes/physiognomy.pug

        include includes/ability.pug

        include includes/types.pug

        include includes/pokedex.pug