<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.scss">
    <title>Carte Pokemon</title>
  </head>
  <body>
  
    include includes/identity.pug
    include includes/profil.pug
    include includes/attacks.pug
    include includes/weakness.pug
    include includes/history.pug

  </body>
</html>
