html(lang="fr")
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='./styles/global.scss' rel='stylesheet')
  title Pokemon Card
body
  include includes/id
  include includes/img
  include includes/caption
  include includes/attack
  include includes/stats
  include includes/details