
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BULBIZARREEEE</title>
    link(rel="stylesheet", href="styles/styles.scss")
  </head>
  <body>
    include includes/identity.pug
    include includes/pokemon.pug
    include includes/attack.pug
    include includes/skills.pug
    include includes/footer.pug
  </body>
</html>
