<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bulbizare</title>
    <link rel="stylesheet" href="scss/style.scss" />
  </head>
  <body>
    <div class="landscape__one">
      include includes/identity.pug
      include includes/appearance.pug
    </div>
    <div class="landscape__two">
      include includes/skill.pug
      include includes/types.pug
      include includes/pokedex.pug
    </div>
  </body>
</html>
