<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    include includes/identity.pug

    <div class="image">
      <img src="/assets/img/bulbizarre.jpg" />
    </div>

    <div class="characteristics">
      <p>Pokémon Graine. Taille:0,7 m,poids:6,9 kg</p>
    </div>

    <div class="attack">
      <div class="attack__element">
        <img src="/assets/img/leaf.png" />
        <img src="/assets/img/leaf.png" />
      </div>
      <div class="attack__description">
        <p>
          <em>Vampigraine</em> A moins que tous les dégâts infligés par cette
          attaque ne soient prévenus, vous pouvez retirer 1 marquer de dégâts de
          Bulbizarre
        </p>
      </div>
      <div class="attack__puissance">
        <p>20</p>
      </div>
    </div>

    <div class="stats">
      <div class="stats__weak">
          <h1>Faiblesse</h1>
          <img src="/assets/img/fire.png">
      </div>
      <div class="stats__resistance">
        <h1>Résistance</h1>
      </div>
      <div class="stats__retirement">
        <h1>Coût de retraite</h1>
        <img src="/assets/img/normal.png">
      </div>
    </div>

    <div class="details">
      <p>
        Il a une étrange graine plantée sur son dos. Elle grandit avec lui
        depuis la naissance. NIV. 13 No. 1
      </p>
    </div>
  </body>
</html>
