<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pokemon</title>
  </head>
  <body>
    <header class="identify">
      <div class="identify__left">
        <p class="identify__evolution">Pokemon de base</p>
        <h1 class="identify__name">Bulbizarre</h1>
      </div>
      <div>
        <p class="identify__life">
          40PV <img class="identify__type " src="assets/img/leaf.png" />
        </p>
      </div>
    </header>
    <div class="photo">
      <img src="assets/img/bulbizarre.jpg" />
      <div class="photo__taille">
        Pokenom Graine.Taille:0,7m,poids:6,9kg
      </div>
    </div>

    <div class="skill">
      <img class="skill_leaf" src="assets/img/leaf.png" />
      <img class="skill_leaf" src="assets/img/leaf.png" />
      <p class="skill__Vampigraine">
        Vampigraine à moins que tous les dégats infligés par cette attaque ne
        soient prévenus,vous pouvez retirer 1 marqueur de dégats de Bulbizarre.
      </p>
    </div>
    <div class="types">
      <p class="type__falbesse">
        Falblesse
        <img src="assets/img/fire.png" />
      </p>
      <p class="type__resistance">
        Résistance
      </p>
      <p>
        Cout de retralte
        <img src="assets/img/normal.png" />
      </p>
    </div>
    <div class="pokedex">
      Il a une étrange graine plantée sur son dos.Elle grandit avec lui depuis
      la naissance. NIV.13 NO.1
    </div>
  </body>
</html>
