<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assets/styles/styles.scss">
  <link rel="stylesheet" href="assets/styles/reset.scss">
  <title>Pokémon</title>
</head>
<body>
  include assets/includes/header.pug
  include assets/includes/image.pug
  include assets/includes/who.pug
  include assets/includes/attacks.pug
  include assets/includes/stats.pug
  include assets/includes/details.pug
</body>
</html>
