
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='styles/main.scss')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap' rel="stylesheet")

    title Bulbizarre
  body
    include includes/id
    include includes/img
    include includes/caption
    include includes/spell
    include includes/stats
    include includes/details