<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <header>
        include include/identity.pug
        include include/image.pug
        include include/description.pug
    </header>
    <footer>
        include include/competance.pug
        include include/stats.pug
        include include/history.pug
    </footer>
</body>
</html>