doctype html
html
  include includes/head.pug
  body(class="card")
      include includes/header.pug
      include includes/hero.pug
      include includes/spell.pug
      <hr class="hrFooter">
      include includes/footer.pug
