<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Bulbizarre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="vendors/styles.scss">
  </head>
  <body>
    include includes/firstintr.pug
    include includes/intro.pug
    include includes/container.pug
    include includes/footer.pug
  </body>
</html>
