<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="styles.scss">
<head>
  <title>Bulbizarre</title>
</head>
<body>
  <section class="elem">
  <section class="elem__col1">
  include assets/includes/identity.pug
  include assets/includes/appearance.pug
  include assets/includes/appearance-id.pug
  </section>
  <section class="elem__col2">
  include assets/includes/skill.pug
  include assets/includes/types.pug
  include assets/includes/pokedex.pug
  </section>
  </section>
</body>
</html>