<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="reset.scss">
  <link rel="stylesheet", href="styles.scss">
</head>

<body class="card">
  include includes/identity.pug
  include includes/appearance.pug
  include includes/feature.pug
  include includes/skills.pug
  include includes/types.pug
  include includes/pokedex.pug
</body>
</html>
