<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.scss" />
  </head>

  <body class="border__all">
    <div class="all__items">
       include pages/header.pug
       include pages/bulbizarre.pug
       include pages/property.pug
       include pages/footer.pug
    </div>
  </body>
</html>
