<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet", href="scss/styles.scss"/>
    <title>Bulbizarre</title>
  </head>
  <body>
    includes/description.pug
    includes/appearance.pug 
    includes/skills.pug
    includes/types.pug 
    includes/pokedex.pug
  </body>
</html>
