    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <header class="identity">
        <p class="identity__evolution">Pokémon de base</p>
        <p class="identity__name">Bulbizarre</p>
        <p class="identity__life"> 40 PV </p>
        <img class="identitytype "src="assets/img/leaf.png" alt="Type plante">
        
    </header>
    <body>
        include includes/indentity.pug
        include includes/appeatance.pug
        include includes/skill.pug
        include includes/types.pug
        include includes/pokedex.pug
    </body>
    </html>