<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.scss" />
    <title>TP - Pokemon</title>
  </head>
  <div>
    <div class="container">
      <header class="identity">
        <div>
          <p class="identity__grade">Pokémon de base</p>
          <h1 class="identity__name">Bulbizarre</h1>
        </div>
        <div>
          <p class="identity__life">
            40 PV
          </p>
          <img class="identity__type" src="assets/img/leaf.png" alt="Type plante"/>
        </div>
      </header>
      <div>
        <img class="image" src="assets/img/bulbizarre.jpg" alt="Image de Bulbizarre" />
        <p class="image__information">Pokémon Graine. Taille : 0,7m, poids: 6,9kg</p>
      </div>
      <article class="attack">
        <img class="attack__type" src="assets/img/leaf.png" alt="Type plante"/>
        <img class="attack__type" src="assets/img/leaf.png" alt="Type plante" />
        <p class="attack__description">Vampigraine À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.</p>
        <p class="attack__degats">20</p>
      </article>
      <footer>
        <div class="stats">
          <p class="stats__weakness">
            Faiblesse
            <img class="stats__type" src="assets/img/fire.png" alt="Faiblesse feu" />
          </p>
          <p class="stats__resistance">Resistance</p>
          <p class="stats__retirement">Coût de retraite <img class="stats__star" src="assets/img/normal.png" alt="Etoile" /></p>
        </div>
        <div>
          <p class="details">Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV. 13 No. 1</p>
        </div>
      </footer>
    </div>
  </div>
</html>
