<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.scss" rel="stylesheet"/>
    <title>Carte pokemon</title>
  </head>
  <body>
    <div class="identity">
      <div class="identity__type">pokemon de base</div>
      <div class="identity__title__hp">
       <h2>Bulbizarre</h2> <div> 40PV <img src="assets/img/leaf.png" alt="logo du type de pokemon" /> </div>
      </div>
    </div>

    <div class="appearance">
      <div class="appearance__img">
        <img src="assets/img/bulbizarre.jpg" alt="image de bulbizarre" />
      </div>
      <div class="appearance__pokemon-description">
        Pokemon Graine. Taille : 0,7m, poids:6,9kg
      </div>
    </div>

    <div class="skills">
      <div class="skills__logo">
        <img src="assets/img/leaf.png" alt="logo tu type de pokemon" />
      </div>
      <div class="skills__description">
        Vampigraine À moins que tous les dégâts infligés par cette attaque ne
        soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.
      </div>
      <div class="skills__damage">20</div>
    </div>

    <div class="types">
      <div class="types__weakness"></div>
      <div class="types__resist"></div>
      <div class="types__retirement"></div>
    </div>

    <div class="logo-of-types">
      <div class="logo-of-types__resist">
        <img src="assets/img/fire.png" alt="logo de la resistance" />
      </div>
      <div class="logo-of-types__retirement">
        <img src="assets/img/normal.png" alt="logo du coût de retrait" />
      </div>
    </div>

    <div class="pokedex">
      Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis
      la naissance. NIV 13 No.1
    </div>
  </body>
</html>
