html(lang="fr")
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='./styles/global.scss' rel='stylesheet')
  title Pokemon Card
body
  <div class="section1">
    include includes/id
    include includes/img
    include includes/caption
  </div>
  <div class="section2">
    include includes/attack
    include includes/stats
    include includes/details
  </div>

  //Les deux lignes suivantes sont à activer 
  //avec les lignes des fichiers section1.pug et section2.pug

  //include includes/section1
  //include includes/section2