doctype html
html
  head
    include includes/head.pug
    style
      include scss/styles.scss

  body
    include includes/header.pug
    include includes/illustration.pug
    include includes/content.pug
    include includes/info.pug
    include includes/footer.pug
    