<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carte Pokemon</title>
  </head>
  <body>

    include includes/attacks.pug
    include includes/history.pug 
    include includes/identity.pug 
    include includes/profil.pug 
    include includes/weakness.pug 
    
  </body>
</html>
