* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  border: 15px solid gold;
  padding: 20px;
  background-color: rgb(120, 204, 95);

  .identity {
    display: flex;
    justify-content: space-between;

    .identity__grade {
      font-size: 12px;
    }

    .identity__name {
      font-size: 24px;
      font-weight: bold;
    }

    .identity__pv {
      display: flex;
    }
    .identity__life {
      color: red;
    }
  }

  .image {
    border: 5px solid gold;
  }

  .image__information {
    font-size: 12px;
    text-align: center;
    background-color: gold;
  }

  .attack {
    margin-top: 30px;
    display: flex;

    .attack__type {
      align-self: center;
    }

    .attack__description {
      // padding-right: 20px;
    }

    .attack__degats {
      align-self: center;
      font-size: 24px;
    }
  }
}
