
<div class="stats"><div class="stats__option"><p>Faiblesse</p> <p>Resistance</p> <p>Coût de retraite</p></div>
      <div class="stats__image">
        <img src="/assets/img/fire.png" />
        <img src="/assets/img/normal.png" />
      </div>
      <hr color="gold" />
      <div> Il a une etrange graine plantée sur son dos.Elle grandit avec lui depuis la naissance. NIV. 13 No. 1
      </div>
</div>