<hr color="black" />
<div class="stats"> Faiblesse Resistance Coût de retraite
      <div>
        <img src="/assets/img/fire.png" />
        <img src="/assets/img/normal.png" />
      </div>
      <hr color="yellow" />
      <div> Il a une etrange graine plantée sur son dos.Elle grandit avec lui depuis la naissance. NIV. 13 No. 1
      </div>
</div>