
<div class="stats"><div class="stats__option--1"><p>Faiblesse</p><img class="stats__option--1--image"src="/assets/img/fire.png" />  </div>
      <div class="stats__option--2">
      <p>Resistance</p>
      </div>
      <div class="stats__option--3"><p>Coût de retraite</p>
        <img class="stats__option--3--image"src="/assets/img/normal.png" />
      </div>
      
</div>