@mixin landscape {
  @media (min-aspect-ratio: 1/1) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #9acd32;
  margin: 0;
  border: 10px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 237, 33, 1) 0%,
    rgba(81, 121, 9, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
  padding: 20px 20px;
}

img {
  max-width: 100%;
}

h2 {
  margin: 0;
  font-family: sans-serif;
}

.identity__type {
  font-family: sans-serif;
  font-size: 10px;
  @include landscape {
    order: 1;
    padding-top: 4%;
  }
}

.identity__title__hp {
  display: flex;
  justify-content: space-between;
  @include landscape {
    order: 2;
  }

  .identity_title_hp_number {
    font-family: sans-serif;
    text-transform: uppercase;
    color: red;
    @include landscape {
      font-size: 12px;
    }
  }

  .identity__title-h2 {
    @include landscape {
      font-size: 16px;
      margin-top: 4%;
    }
  }
}

.appearance__img {
  border: 5px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 237, 33, 1) 0%,
    rgba(81, 121, 9, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
}

.appearance__pokemon-description {
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  background: linear-gradient(
    90deg,
    rgba(255, 237, 33, 1) 0%,
    rgba(81, 121, 9, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 1%;
  @include landscape {
    order: 4;
    margin-left: 0;
    margin-right: 0;
    font-size: 10px;
  }
}


.landscape__div {
  @include landscape {
    display: flex;
  }
}

.landscape__div_second {
  @include landscape {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 20%;
  @include landscape {
    margin-top: 0;
    margin-bottom: 3%;
  }

  .skills__logo {
    display: flex;
    padding-right: 10%;
  }

  .skills__description {
    font-family: sans-serif;
  }

  .skills__damage {
    padding-left: 10%;
  }

  @include landscape {
    margin-left: 10%;
  }
}

hr.separating_bar {
  border: 1px solid black;

  @include landscape {
    margin-left: 10%;
  }
}

.types {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;

  @include landscape {
    margin-left: 10%;
  }
}

.logo-of-types {
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 15%;

  @include landscape {
    margin-left: 10%;
  }
}

.identity {
  @include landscape {
    display: flex;
    flex-direction: column;
  }
}

.pokedex {
  margin-top: 2%;
  font-family: sans-serif;
  font-size: 11px;
  text-align: center;
  border: solid 2px;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 237, 33, 1) 0%,
    rgba(81, 121, 9, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );;
  border-image-slice: 1;

  @include landscape {
    margin-left: 10%;
  }
}
