@import "layouts/_reset.scss";
@import "layouts/_card.scss";
@import "layouts/_identity.scss";
@import "layouts/_appearance.scss";
@import "layouts/_skill.scss";
@import "layouts/_types.scss";
@import "layouts/_pokedex.scss";
