.identity {
    display: flex;
    justify-content: space-around;

    .identity__grade {
        .identity__grade--type {
            font-size: 12px;
        }
        .identity__grade--name {
            font-size: 21px;
            font-weight: bold;
        }
    }

    .identity__life {
        display: flex;
        align-items: center;

        .identity__life--type {
            margin-left: 10px;;
        }
    }
}