.pokemon {
    display: flex;
    flex-direction: column;
    .pokemon__img {
        max-width: 80%;
        align-self: center;
        border: 5px solid;
    border-image: linear-gradient(150deg, rgba(253,235,0,1) 0%, rgba(120,116,30,1) 100%) 5;
    }
    .pokemon__details {
        display: flex;
        justify-content: center;
        background: linear-gradient(150deg, rgba(253,235,0,1) 0%, rgba(120,116,30,1) 100%);
        font-size: 12px;
        padding: 3px;
        margin-left: 38px;
        margin-right: 38px;
        margin-top: 5px;
    }
}