.capacity {
  font-family: Arial black, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: 15%;
}

div.border {
  border-bottom: 3px solid black;
}

.contenair {
  display: flex;
  justify-content: space-between;
}

.capacity__types {
  margin-top: 5px;
}

.capacity__logo {
  margin-top: 2px;
}
