.identity__evolution {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin-top: 2%;
  display: flex;
  text-align: left;
}

.identity__Name {
  font-family: Arial black, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  text-align: left;
}

.identity__pv {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #e24a00;
}

.b {
  align-items: right;
}
