.id {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__group {
    display: flex;
    flex-direction: column;
  }
  &__rareness {
    font-size: 10px;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
  }

  &__lifeType {
    align-items: center;
    display: flex;
  }
  &__life {
    color: red;
    font-weight: bold;
  }
  &__type {
  }
}
