.pokemon {
  display: flex;
  flex-direction: column;
}
.pokemon__name {
  margin-left: $margin;
  margin-right: $margin;
  border: 5px solid;
  display: flex;
  border-image-source: $gradient;
  border-image-slice: 1;
}

.pokemon__details {
  font-size: 13px;
  display: flex;
  justify-content: center;
  background: $gradient;
  font-style: italic;
  margin-left: $margin + 7;
  margin-right: $margin + 7;
  margin-top: 5px;
}
