.bulbizarre__profil {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-style: solid;
  border-color: #fdeb00;
}

.description__img {
  background-color: #fdeb00;
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
}
