<figure class="apparence">
  <div class="apparence__image">
    <img src="assets/img/bulbizarre.jpg" alt="Bulbizarre" />
  </div>

  <figcaption class="apparence__details">Pokémon Graine. Taille : 0,7m, poids: 6,9 kg</figcaption>
</figure>