<section class="competence">
  <div>
    <p class="competence__label">Faiblesse</p>
    <img src="assets/img/fire.png" />
  </div>
  <div>
    <p class="competence__label">Résistance</p>
  </div>
  <div>
    <div class="competence__label">Coût de retraite</div>
    <img src="assets/img/normal.png" />
  </div>
</section>