<div class= competance>
    <img class= leaf src="assets/img/leaf.png" alt="Type plante" />
    <img class= leaf src="assets/img/leaf.png" alt="Type plante" />
    <p class= competance__atk> Vampigraine A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre</p>
</div>