<section class="competence">
        <div class="competence__faiblesse">
          <p>Faiblesse</p>
          <img src="./assets/img/fire.png" alt="feu" />
        </div>
        <div class="competence__resistance">
          <p>Résistance</p>
        </div>
        <div class="competence__coutretraite">
          <p>Coût de retraite</p>
          <img src="./assets/img/normal.png" alt="feu" />
        </div>
</section>