<main class = "description">
    <div class = "description__text">
        <div> 
            <img src= "assets/img/leaf.png" alt="leaf">
            <img src= "assets/img/leaf.png" alt="leaf">
        </div>    
        <p class = "description__text--center"> <span>Vampigraine </span> A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer un marqueur de dégâts de Bulbizarre. </p>
        <p class = "description__text--life"> 20 </p>
    </div>

    <div class = "description__substats">
    <span> Faiblesse </span>
    <span> Résistance </span>
    <span> Coût de retraite </span>
    </div>
    <div class = "description__logos">
    <img src = "assets/img/fire.png">
    <img src = "assets/img/normal.png">
    </div>

    <div class = "description__level"> Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis sa naissance. NIV. 13 No. 1 </div>
    
</main>
