<div class= identity>
    <p class= identity__grade>Pokémon de base</p>
    <h1 class= identity__name>Bulbizarre</h1>
    <h1 class= identity__life>40 PV</h1>
    <img class= leaf src="assets/img/leaf.png" alt="Type plante" />
</div>