<header class="identity">
  <div class = "identity__global">
    <div class = "identity__global--space">
      <p class="identity__global--base">Pokémon de base</p>
      <h1 class="identity__global--name">Bulbizarre</h1>
    </div>
    <p class="identity__global--life"> 40 PV
     <img class="identity__global--type" src="assets/img/leaf.png" alt="Type Plante" />
  </p>
  </div>
  <div class = "img_chara">
    <img class = "img_chara--picture" src= "assets/img/bulbizarre.jpg" alt="image_pokemon">
  </div>
  <div class = "chara__text">  Pokémon Graine, Taille : 0,7m, poids : 6,9kg</div>
  
  
</header>