<div class = "img_chara">
<img class = "img_chara__picture" src= "assets/img/bulbizarre.jpg" alt="image_pokemon">
<div class = "img_chara__text"> 
<p class = "img_chara__type"> Pokémon Graine.</p>
<p class = "img_chara__size"> Taille : 0,7m,</p>
<p class = "img_chara__weight"> Poids : 6,9kg</p>
</div>