.info
  .info__attack
    .info__cost
      img(src='../src/assets/img/leaf.png' alt='feuil')
      img(src='../src/assets/img/leaf.png' alt='feuil')
    p
      em VAMPIGRAINE
      |  &Agrave; moins que tous les d&eacute;gat infliger par cette
      |           attaque ne soient pr&eacute;venus vous pouvez retirer 1 marqueur de d&eacute;gat de
      |           Bulbizarre
  h1.info__dgt 20
