<section class="skill">
      <img class="skill__leaf" src="./assets/img/leaf.png" alt="sybole leaf" />
      <img class="skill__leaf" src="./assets/img/leaf.png" alt="sybole leaf" />
      <p class="skill__description"> Vampigraine à moins que tous les dégats infligés par cette attaque ne soient prévus, vous pouvez retirer 1 marqueur de dégat de Bultazarre
      </p>
</section> 