.stats
  div
    p faiblese
    img(src='../src/assets/img/fire.png' alt='' srcset='')
  div
    p R&eacute;ssitance
  div
    p Cout de retraitre
    img(src='../src/assets/img/normal.png' alt='normal')
