<div class= stats>
    <div class=colum>
        <p class= stats__weakness>Faiblesse</p>
        <img class= fire src="assets/img/fire.png" alt="Faiblesse Feu" />
    </div>
    <p class= stats__resistance>Résistance</p>
    <div class=colum>
        <p class= stats__escape>Coût de retraite</p>
        <img class= normal src="assets/img/normal.png" alt="Cout de retrait 1" />
    </div>
</div>